<footer class="text-lg-start">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <br><br><br>
        <h1>Proyecto PokeAPP</h1>
      </div>
      <div class="col-md-2">
        <h3>Developers</h3>
        <p class="equipo">Tinoco Huertas Bryan Alfredo</p>
        <p class="equipo">Sanchez Bustos Cindy Katherine</p>
        <p class="equipo">Castiblanco Montes Geovany Andres</p>
        <p class="equipo">Henao Toro Juan David</p>
        <p class="equipo">Reyes Jaramillo Lady Daniela</p>
      </div>
      <div class="col-md-3">
        <h3>Institución Universitaria Politecnico Grancolombiano</h3>
        <br>
        <h3>Facultad de Ingeniería, Diseño e Innovación</h3>
      </div>
      <div class="col-md-3">
        <h3>Asignatura</h3>
        <p>Front - End</p>
        <h3>Tutor</h3>
        <p>Margarita</p>
        <h2>Abril de 2021</h2>
      </div>
    </div>
  </div>
</footer>

